<div class="container fade-in">

  <!-- <h2>{{ title }}</h2> -->

  <ul class="list-group list-group-flush">

    <div class="list-group list-group-flush">
      <h5>IT Competencies</h5>
      <li class="list-group-item">
        <h6><span>• </span>Best:</h6>
        <p><span>⌥ </span>Angular, Angular Material, HTML, CSS/SCSS, Git/GitHub/GitLab</p>
        <h6><span>• </span>Better:</h6>
        <p><span>⌥ </span>Typescript, Javascript, Bootstrap, AJAX, AngularJS</p>
        <h6><span>• </span>Basics:</h6>
        <p><span>⌥ </span>Express, MongoDB, NodeJS, REST APIs, jQuery</p>
      </li>
    </div>

    <div class="list-group list-group-flush">
      <h5>Education</h5>
      <li class="list-group-item">

        <h6><span>• </span>Frontend Developing</h6>
        <p><span>⌥ </span>Intensive Full Time Course, UK</p>

        <h6><span>• </span>Master in Film Studies (MA)</h6>
        <p><span>⌥ </span>University of Southampton, UK</p>

        <h6><span>• </span>Diploma in Motion Picture Production</h6>
        <p><span>⌥ </span>Whistling Woods International, India</p>

        <h6><span>• </span>Laurea in Lettere (BA)</h6>
        <p><span>⌥ </span>Università degli Studi Roma 3, Italy</p>

      </li>
    </div>

    <!-- <div class="list-group list-group-flush">
      <h5>Work</h5>
      <li class="list-group-item">

        <h6><span>• </span>Educational Tutor, Library Classification support and Social Media support</h6>
        <p><span>⌥ </span>Scuola d’Arte Cinematografica Gian Maria Volonté, Italy</p>

        <h6><span>• </span>Photo and Video services</h6>
        <p><span>⌥ </span>FDMcreative.com</p>

        <h6><span>• </span>Film Studies Teacher, FilmClub Coordinator and Light & Sound Manager</h6>
        <p><span>⌥ </span>UWC Mahindra College, India</p>
      </li>
    </div> -->

    <div class="list-group list-group-flush">
      <h5>Languages</h5>
      <li class="list-group-item">

        <h6><span>• </span>Italian</h6>
        <p><span>⌥ </span>Mother Tongue</p>
        <h6><span>• </span>English</h6>
        <p><span>⌥ </span>Full Professional Proficiency</p>
      </li>
    </div>

  </ul>

</div>
