

div {
  font-family: 'IBM Plex Mono', monospace;
  color: Silver;
}

h5 {
  color: white;
}
h6 {
  color: LightGrey;
}

li {
  border-top: 1px solid #aa000b;
  background-color: transparent;
}

p {
  padding-left: 1em;
  font-style: italic;
}

.container {
  margin-top: 4vw;
  margin-bottom: 3vw;
  text-shadow: 0px 0px 10px black;
}

@media only screen and (max-width: 758px) {

  .container {
    margin-bottom: 7vw;
  }
}

@media only screen and (max-width: 576px) {

  .container {
    margin-bottom: 10vw;
  }
}
