

nav {
  background:rgba(0,0,0,1);
  z-index: 3;
  /* font-family: "Courier New"; */
  font-family: 'IBM Plex Mono', monospace;
  color: blue;
  /* font-weight: bold; */
  /* border-bottom: 1px solid rgba(254,248,81,0.5); */
  /* text-align: center; */
  height: 4vw;
  box-shadow: 0px 0px 15px black;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  text-align: center;
}

a  {
  text-decoration: none;
  color: rgb(102,255,102);
  opacity: 1;
  letter-spacing: 0.1em;
}
a:hover {
  color: Green;
}

@media only screen and (max-width: 758px) {

  nav {
    height: 7vw;
    /* font-size: 0.85em; */
  }
}

@media only screen and (max-width: 576px) {

  nav {
    height: 10vw;
    /* font-size: 0.7em; */
  }
}
