
<div class="container">

  <h2>{{ title }}</h2>

  <div *ngIf="projects.length > 0">
    <h5>These are {{ projects.length }} examples out of my work:</h5>
  </div>

  <div *ngIf="projects.length == 0">
    <h5>These are no projects, sorry !</h5>
  </div>

  <div class="row" *ngFor="let project of projects; index as i">

    <div class="col-md-1">
      {{ i+1 }}:
    </div>

    <div class="col-md-5" align="center">
      <p>{{ project.description }}</p>
    </div>

    <bootstrap-card class="col-10 col-md-5">

      <div class="header">
        {{ project.title | uppercase }}
      </div>

      <div class="image">
        <a target="_blank" href="{{ project.link }}">
          <img class="card-img-bottom" src="{{ project.image }}" alt="{{ project.title }}">
        </a>
      </div>

    </bootstrap-card>


  </div>

</div>
