
.row {
  margin-bottom: 6%;
  padding-bottom: 3%;
  border-bottom: 1px solid Silver;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row:last-child{
  border-bottom: 0;
}

div {
  /* font-family: "Courier New"; */
  font-family: 'IBM Plex Mono', monospace;
  color: Silver;
}

h2 {
  text-align: center;
}

p {
  padding-top: 10px;
}

.container {
  margin-top: 4vw;
  margin-bottom: 5vw;
}

@media only screen and (max-width: 758px) {

  .container {
    margin-bottom: 11vw;
  }

  .row {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 576px) {

  .container {
    margin-bottom: 14vw;
  }
}
