
<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-8 col-10">

      <h2>{{ title }}</h2>

      <div class="contacts">
        <p>
          GitHub: <a href="https://github.com/FDMcreative" target="_blank">github.com/FDMcreative</a>
        </p>
        <p>
          LinkedIn: <a href="https://www.linkedin.com/in/federicodelmonte/" target="_blank">linkedIn/federicodelmonte</a>
        </p>
        <p>
          Email: <a href="mailto:federico.delmonte@gmail.com">federico.delmonte[@]gmail.com</a>
        </p>
        <p>
          Mobile Number: <a href="tel:+393280650292">+393280650292</a>
        </p>
      </div>

    </div>

  </div>

</div>
