/* You can add global styles to this file, and also import other style files */

/* importing bootstrap css file from node module folder*/
@import "~bootstrap/dist/css/bootstrap.css";

/* NOT WORKING ??? had to Import via CDN*/
/* importing font-awesome css file from node module folder*/
/* @import "~font-awesome/css/font-awesome.css"; */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
  background-color: black;
}

a  {
  text-decoration: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

h2 {
  padding-bottom: 25px;
}
